
@{
    ViewBag.Title = "AddServices";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}


<div class="page-wrapper">
    <div class="content">
        <h2>Add Service</h2>
        <div class="col-md-10">
            <div class="card-box">
                <form method="post" action="/admin/addservice">
                    <div class="form-group row">
                        <label for="depsr" class="col-md-3 col-form-label">Department:</label>
                        <div class="col-md-9">
                            <select name="depsr" class="form-control" required>
                                <option value="">---Select---</option>
                                @if (ViewBag.table.Rows.Count > 0)
                                {
                                    foreach (var row in ViewBag.table.Rows)
                                    {
                                        <option value="@row["Sr"]">@row["DepName"]</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="servicename" class="col-md-3 col-form-label">Service Name:</label>
                        <div class="col-md-9">
                            <input type="text" name="servicename" class="form-control" placeholder="Service Name" required>
                        </div>
                    </div>
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary px-5" style="">Add Service</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    document.getElementById("navservices").classList.add("active");
</script>