<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <!-- Favicon -->
    <link rel="icon" href="~/Content/img/favicon.png">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/content/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/content/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/content/css/adminstyle.css">
    <link href="~/Content/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
</head>
<body>

    @if (Session["admin"] == null)
    {
        <script>
            alert('Please login');
            location.href = '/home/login';
        </script>
    }

    <div class="main-wrapper">
        <div class="header">
            <div class="header-left">
                <a href="index-2.html" class="logo">
                    <img src="~/Content/img/favicon.png" width="35" height="35" alt=""> <span>MediPlus</span>
                </a>
            </div>
            <a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
            <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
            <ul class="nav user-menu float-right">
                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                        <span class="user-img">
                            <img class="rounded-circle" src="~/Content/img/user.jpg" width="24" alt="Admin">
                            <span class="status online"></span>
                        </span>
                        <span>Admin</span>
                    </a>
                    <div class="dropdown-menu">
                        @*<a class="dropdown-item" href="profile.html">My Profile</a>
                        <a class="dropdown-item" href="edit-profile.html">Edit Profile</a>*@
                        <a class="dropdown-item" href="/admin/logout">Logout</a>
                    </div>
                </li>
            </ul>
            <div class="dropdown mobile-user-menu float-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="profile.html">My Profile</a>
                    <a class="dropdown-item" href="edit-profile.html">Edit Profile</a>
                    <a class="dropdown-item" href="login.html">Logout</a>
                </div>
            </div>
        </div>
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li id="navdashboard">
                            <a href="/admin/dashboard"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
                        </li>
                        <li id="navdoctor">
                            <a href="/admin/doctors"><i class="fa fa-user-md"></i> <span>Doctors</span></a>
                        </li>
                        <li id="navpatient">
                            <a href="/admin/patients"><i class="fa fa-wheelchair"></i> <span>Patients</span></a>
                        </li>
                        <li id="navappointment">
                            <a href="/admin/appointments"><i class="fa fa-calendar"></i> <span>Appointments</span></a>
                        </li>
                        <li id="navlabappointment">
                            <a href="/admin/labappointment"><i class="fa fa-calendar"></i> <span>Lab Test Appointments</span></a>
                        </li>
                        <li id="navdep">
                            <a href="/admin/department"><i class="fa fa-hospital-o"></i> <span>Department</span></a>
                        </li>
                        <li id="navservices">
                            <a href="/admin/services"><i class="fa fa-hospital-o"></i> <span>Services</span></a>
                        </li>
                        <li id="navmanageenq">
                            <a href="/admin/manageenquary"><i class="fa fa-question-circle"></i> <span>Manage Enquiries</span></a>
                        </li>
                        <li id="navfeedback">
                            <a href="/admin/feedback"><i class="fa fa-comment"></i> <span>Patient's Feedback</span></a>
                        </li>
                        @*<li class="submenu">
                                <a href="#"><i class="fa fa-plus"></i> <span> Extra Pages </span> <span class="menu-arrow"></span></a>
                                <ul style="display: none;">
                                    <li><a href="/admin/changepassword2"> Change Password </a></li>
                                    <li><a href="/admin/profile"> Profile </a></li>
                                    <li><a href="/admin/gallery"> Gallery </a></li>
                                </ul>
                            </li>*@
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div>
        @RenderBody()
    </div>

    <script src="~/Content/js/jquery-3.2.1.min.js"></script>
    <script src="~/Content/js/popper.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/jquery.slimscroll.js"></script>
    <script src="~/Content/js/app.js"></script>


    <script src="~/Content/js/select2.min.js"></script>
    <script src="~/Content/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Content/js/moment.min.js"></script>
    <script src="~/Content/js/bootstrap-datetimepicker.min.js"></script>


</body>
</html>
